@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
.iconos-contacto-header .github-contacto-header, .iconos-contacto-header .email-contacto-header, .iconos-contacto-header .direccion-contacto-header {
  display: flex;
  justify-content: space-around;
}

header {
  width: 100%;
  height: 22rem;
  margin: auto;
  background: #282D33;
  color: #CC7E62;
}

.contenedor .contenedor-textos-header {
  text-align: center;
  height: 150px;
  margin-top: 40px;
}
.contenedor .contenedor-textos-header .titulo-nombre-header {
  font-size: 45px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.contenedor .contenedor-textos-header .contenedor-descrip-header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}
.contenedor .contenedor-textos-header .carrera-header {
  padding: 0 7px;
  color: rgb(255, 251, 251);
  font-size: 20px;
}
.contenedor .contenedor-textos-header .linea-izquierda-header, .contenedor .contenedor-textos-header .linea-derecha-header {
  width: 3%;
  height: 1px;
  margin-top: 14px;
  background: #DBDCDE;
}

.iconos-contacto-header {
  display: flex;
  justify-content: space-evenly;
  text-align: right;
  font-size: 12px;
  color: #DBDCDE;
}
.iconos-contacto-header .iconos-contacto-izquierda, .iconos-contacto-header .iconos-contacto-derecha {
  width: 170px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  bottom: 15px;
}
.iconos-contacto-header .direccion-contacto-header {
  padding-left: 15px;
}
.iconos-contacto-header .telefono-contacto-header {
  display: flex;
  justify-content: space-around;
}
.iconos-contacto-header .foto-contacto-header {
  width: 190px;
  height: 250px;
}
.iconos-contacto-header .foto-contacto-header .foto {
  display: inline-block;
  position: relative;
  box-shadow: 1px 1px 15px 1px #A6A6A6;
  width: 210px;
  border-radius: 50%;
  right: 10px;
  top: 10px;
  filter: grayscale(80%);
  transition: all 1.5s;
}
.iconos-contacto-header .foto-contacto-header .foto:hover {
  filter: grayscale(0%);
  transition: all 1.5s;
}
.iconos-contacto-header .email-contacto-header {
  flex-direction: row-reverse;
}
.iconos-header {
  font-size: 27px;
  color: #CC7E62;
  opacity: 0.8;
}
.iconos-header:hover {
  opacity: 1;
  cursor: pointer;
  box-shadow: 2px 2px 10px 2px #282D33;
}

.iconos-contacto-izquierda {
  left: 50px;
}

.iconos-contacto-derecha {
  right: 80px;
}
.iconos-contacto-derecha .descripcion-contacto {
  position: relative;
  right: 50px;
}
.iconos-contacto-derecha .descripcion-contacto p {
  width: 20px;
}
.iconos-contacto-derecha .descripcion-contacto a {
  text-decoration: none;
  color: #DBDCDE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  background: rgb(255, 251, 251);
  box-shadow: 3px 3px 25px 3px #282D33;
}

.contenedor {
  width: 100%;
  max-width: 1100px;
  padding: 20px;
  margin: auto;
  overflow: hidden;
}

main {
  margin-top: 95px;
}
main .titulo {
  text-align: center;
  color: #CC7E62;
  font-size: 23px;
  letter-spacing: 2px;
}
main .parrafo-perfil {
  line-height: 30px;
  margin: 15px 0;
  text-align: justify;
}

.titulo::after {
  content: " //";
  color: #282D33;
}
.titulo::before {
  content: "// ";
  color: #282D33;
}

.contenedor-texto-experiencia {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.contenedor-texto-experiencia h3 {
  text-align: right;
  color: #282D33;
  font-size: 21px;
  margin-bottom: 10px;
}
.contenedor-texto-experiencia .experiencia {
  width: 50%;
  font-size: 15px;
  line-height: 1.5rem;
  margin-bottom: 15px;
}
.contenedor-texto-experiencia .experiencia .info-compania {
  display: flex;
  position: relative;
  width: 28rem;
}
.contenedor-texto-experiencia .experiencia .derecha {
  left: 55px;
  justify-content: flex-end;
  padding-right: 30px;
  left: 80px;
}
.contenedor-texto-experiencia .experiencia .izquierda {
  text-align: left;
  justify-content: flex-start;
  padding-left: 30px;
}
.contenedor-texto-experiencia .experiencia .funciones {
  text-align: justify;
}

.info-compania p {
  padding: 5px 5px;
}
.info-compania ::after {
  content: " / ";
  color: #282D33;
}

.contenedor-info-profesional {
  display: flex;
  justify-content: space-evenly;
  letter-spacing: 2px;
  position: relative;
}
.contenedor-info-profesional h2 {
  margin-bottom: 10px;
  color: #CC7E62;
}
.contenedor-info-profesional .titulo-educacion {
  text-align: right;
  margin-bottom: 20px;
}
.contenedor-info-profesional .titulo-educacion::after {
  content: " //";
  color: #282D33;
}
.contenedor-info-profesional .titulo-skills::before {
  content: "// ";
  color: #282D33;
}
.contenedor-info-profesional ul {
  max-width: 15rem;
}
.contenedor-info-profesional ul li {
  list-style: none;
  line-height: 35px;
}

.info-educacion {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  margin-bottom: 15px;
}
.info-educacion .descripcion-educacion {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
.info-educacion .descripcion-educacion p {
  padding: 2px;
}

.info-educacion p::after {
  content: " /";
  color: #282D33;
  font-weight: bold;
}

.linea-vertical {
  height: 280px;
  width: 0.5px;
  background: #282D33;
}

.titulo-referencia {
  text-align: center;
  margin-bottom: 30px;
  padding-right: 40px;
}

.contenedor-referencias {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 28px;
}
.contenedor-referencias .referencia {
  text-align: center;
}/*# sourceMappingURL=style.css.map */