%flex-around{
    display: flex;
    justify-content: space-around;
}
header{
    width: 100%;
    height: 23.5rem;
    margin: auto;
    background: $secondary-color;
    color: $third-color;
}
.contenedor{
    .contenedor-textos-header{
        text-align: center;
        height: 150px;
        margin-top: 40px;
        .titulo-nombre-header{        
            font-size: 45px;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
        .contenedor-descrip-header{
            width: 100%;
            height: 40px;    
            display: flex;    
            justify-content: center;       
        }
        .carrera-header{
            padding: 0 7px;
            color: $bg-color-body;
            font-size: 20px;
        }
        .linea-izquierda-header, .linea-derecha-header{
            width: 3%;
            height: 1px;
            margin-top: 14px;
            background: $primary-color;
        }
    }
}
.iconos-contacto-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    font-size: 12px;    
    color: $primary-color;
    margin-right: 95px;
    .iconos-contacto-izquierda, .iconos-contacto-derecha{
        width: 170px;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
    }
    .direccion-contacto-header{
        @extend %flex-around;
        padding-left: 15px; 
    }
    .telefono-contacto-header{
        display: flex;
        justify-content: space-around;
    }
    .foto-contacto-header{
        .foto{
            box-shadow: 1px 1px 15px 1px $shadow-color;
            width: 210px;
            border-radius: 50%;
            margin: 0 50px 0 50px;
            filter: grayscale(85%);  
            transition: width 1s;
        }
    }
    .email-contacto-header{
        @extend %flex-around;
        flex-direction: row-reverse;             
    }
    .github-contacto-header{
        @extend %flex-around;        
    }
}
.foto-contacto-header{
    .foto{
        &:hover{
            filter: grayscale(0%);
            width: 225px;
            transition: width 0.8s;
        }
    }
}
.iconos-contacto-header{
    .iconos-contacto-derecha{    
        width: 80px;
        .descripcion-contacto{
            display: flex;
            flex-direction: column;
            font-size: 14px;  
            p{
                width: 20px;            
            }
            a{
                text-decoration: none;
                color: $primary-color;
            }
        }
    }
}
.iconos-header{
    font-size: 27px;     
    color: $third-color;
    opacity: 0.8;    
    &:hover{
        opacity: 1;
        cursor: pointer;
    }
}
.icon-direccion{
    padding: 0 50px 0 15px;
}
.iconos-contacto-izquierda{
    left: 50px;
}
.direccion{
    width: 150px;
}
