%flex-around{
    display: flex;
    justify-content: space-around;
}
header{
    width: 100%;
    height: 22rem;
    background: $secondary-color;
    color: $third-color;
}
.contenedor{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    .contenedor-textos-header{
        text-align: center;
        height: 150px;
        margin-top: 40px;
        .titulo-nombre-header{        
            font-size: 45px;
            letter-spacing: 5px;
        }
        .contenedor-descrip-header{
            width: 100%;
            height: 40px;    
            display: flex;    
            justify-content: center;       
        }
        .carrera-header{
            padding: 0 7px;
            color: $bg-color-body;
            font-size: 20px;
        }
        .linea-izquierda-header, .linea-derecha-header{
            width: 3%;
            height: 1px;
            margin-top: 14px;
            background: $primary-color;
        }
    }

}
.iconos-contacto-header{
    display: flex;
    justify-content: space-evenly;
    text-align: right;
    font-size: 12px;
    .iconos-contacto-izquierda, .iconos-contacto-derecha{
        width: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
    }
    .direccion-contacto-header{
        @extend %flex-around;
        padding-left: 15px;          
    }
    .telefono-contacto-header{
        display: flex;
        justify-content: space-around;
        
    }
    .foto-contacto-header{
        width: 170px;
    }
    .email-contacto-header{
        @extend %flex-around;
        flex-direction: row-reverse;             
    }
    .github-contacto-header{
        @extend %flex-around;
    }
}
.iconos-contacto-derecha{
    right: 80px;
    .descripcion-contacto{
        position: relative;
        right: 50px;
        p{
            width: 30px;
        }
    }
}
.iconos-contacto-izquierda{
    left: 50px;
}