main{
    margin-top: 95px;    
    .titulo{
        text-align: center;
        color: $third-color;
        font-size: 23px;
        letter-spacing: 2px;
    }
    .parrafo-perfil{
        line-height: 30px;
        margin: 15px 0;
        text-align: justify;
    }
}
.titulo{
    &::after{
        content: " //";
        color: $secondary-color;
    }&::before{
        content: "// ";
        color: $secondary-color;
    }
}
.contenedor-texto-experiencia{
    display: flex;
    flex-wrap: wrap;  
    margin-top: 30px;      
    h3{
        text-align: right;
        color: $secondary-color;
        font-size: 21px;
        margin-bottom: 10px;
    }  
    .experiencia{        
        width: 50%;
        font-size: 15px;        
        line-height: 1.5rem;
        margin-bottom: 15px;  
        .info-compania{
            display: flex;                        
            position: relative;
            width: 28rem;            
        }
        .derecha{
            left: 55px;
            justify-content: flex-end;
            padding-right: 30px;
            left: 80px;
        }
        .izquierda{
            text-align: left;
            justify-content: flex-start;
            padding-left: 30px;
        }
        .funciones{
            text-align: justify;            
        }
    }
}
.info-compania{    
    p{
        padding: 5px 5px;
    } & ::after{
        content: " / ";
        color: $secondary-color;
    } 
}
.contenedor-info-profesional{
    display: flex;
    justify-content: space-evenly;  
    letter-spacing: 3.5px;  
    position: relative;
    .educacion{
        position: relative;
        left: 55px;
    }
    .habilidades{
        position: relative;
        left: 60px;
    }
    h2{
        margin-bottom: 10px;
        color: $third-color;
    }
    .titulo-educacion{
        text-align: right;
        margin-bottom: 20px;
        &::after{
            content: " //";
            color: $secondary-color;
        }
    }
    .titulo-skills{
        &::before{
            content: "// ";
            color: $secondary-color;
        }
    }
    ul{
        max-width: 15rem;        
        li{
            list-style: none;
            line-height: 35px;
        }
    }
}
.info-educacion{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin-bottom: 15px;    
    .descripcion-educacion{
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        p{
            padding: 2px;
        }
    }
}
.info-educacion{
    p{
        &::after{
            content: " /";
            color: $secondary-color;
            font-weight: bold;
        }
    }
}
.linea-vertical{
    height: 280px;
    width: 0.5px;background: $secondary-color;
    position: relative;
    left: 25px;
}
.titulo-referencia{
    text-align: center;
    margin-bottom: 30px;
    padding-right: 40px;
}

.contenedor-referencias{
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 28px;
    .referencia{
        text-align: center;        
    }
}
